/* First Version */

/* input[type='range'] {
    -webkit-appearance: none;
    height: 2px;
    width: 450px;
    background: grey;
    border-radius: 5px;
    background-image: ;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb:hover {
    box-shadow: #A0A0A050 0px 0px 0px 5px;
    transition: all 0.8s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:active {
    box-shadow: #A0A0A050 0px 0px 0px 8px;
    transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, left 350ms cubic-
    bezier(0.4, 0, 0.2, 1) 0ms, bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: all 0.8s ease-in-out;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
    transition: background 0.3s ease-in-out;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-apperance: none;
    box-shadow: none;
    border: none;
    background: transparent;
} */

/* Second Version */

/*Chrome*/
    input[type='range'] {
      -webkit-appearance: none;
      overflow: hidden;
      height: 7px;
      width: 450px;
      -webkit-appearance: none;
      border-radius: 10px;
      background: #70707050;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 10px;
      height: 10px;
      border-radius: 3px;
      cursor: pointer;
      background: #72592a;
      box-shadow: -450px 0 0 450px #e3990f;
    }

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: red; 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}