@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#root {
  font-family: 'Red Hat Display', sans-serif;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background: #DCDADA;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

h1 {
  color: #252525;
}

video {
  width: 100%;
}
