@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Red Hat Display', Arial, sans-serif;
  /* font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #DCDADA;
  background-color: #2c2c2c; */
}
